

.persona{
  padding-left: 10%;
  display: flex;
  align-self: end;
}
.persona > h2{
  align-self: flex-end;
  text-align: right;
  padding-bottom: 25px;
  padding-right: 10px;
  max-width: 600px;
  font-weight: 100;
  font-size: 1.8em;
  line-height: 1.4em;
} 
h1 {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  background: #cb368f;
  padding: 10px;
  color: white;
  display: inline-block;

}
#studies-container{
  display: flex;
  width: 100%;
}
#student-graphic{
  float: right;
  height: 250px;
  margin-right: 50px;
}
#studies-container > nav{
  width: 10%;
  text-align: right;
  border-right: 10px solid whitesmoke;
}
#studies-container > nav > ul{ 
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  align-items: stretch;
}
#studies-container > nav > ul > li{ 
  font-weight: bold;
  padding: 8px 10px;
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
  margin-bottom: 5px;
}

#studies-container > nav > ul > li:hover{ 
  background-color: #78bb97;
  cursor: pointer;
  color: white;
  border-color: #78bb97;
}

#studies-container > nav > ul > li:active{ 
  background-color: #78bb97;
  cursor: pointer;
  color: white;
  border-color: #2f9b62;
}

#year-strip{
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  background: white;
}
.story-tile{
  padding: 20px;
  border-bottom: 2px;
  border-top: 2px;
  border-right: 2px;
  border-style: solid; 
  border-color: whitesmoke;
  margin: 0px;
  width: 25%;
  display: flex;
}
.story-tile:first-child{
  margin-left: 0px;
}
.story-tile h3{
  color: black;
  font-size: 1em;
  padding-bottom: 10px;
}
.story-tile img{
  height: 80px;
  float: right;
}
.story-tile p{
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
}