
*{
	box-sizing: border-box;
}

body{
  margin: 20px;
	color: #444;
	background:linear-gradient( rgba(248, 248, 255, 0.20) 100%, rgba(248, 248, 255, 0.20)100%), url('https://fieldmap.s3.eu-north-1.amazonaws.com/so-white.png');
  min-height: 100%;
}

.App{
  margin: 0px auto;
  max-width: 1600px;
}

.persona{
  padding-left: 10%;
  display: flex;
  align-self: end;
}
.persona > h2{
  align-self: center;
  text-align: right;
  max-width: 600px;
  font-weight: 100;
  font-size: 1.8em;
  line-height: 1.4em;
} 
h1 {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  background: #cb368f;
  padding: 10px;
  color: white;
  display: inline-block;

}
#studies-container{
  display: flex;
  width: 100%;
}
#student-graphic{
  float: right;
  height: 300px;
  margin-right: 0px;
}
#studies-container > nav{
  width: 10%;
  text-align: center;
  border-right: 10px solid whitesmoke;
}
#studies-container > nav > ul{ 
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  align-items: stretch;
}
#studies-container > nav > ul > li{ 
  font-weight: bold;
  padding: 8px 10px;
  background-color: whitesmoke;
  border-bottom: 1px solid #d1c9ce;
}

#studies-container > nav > ul > li:hover{ 
  background-color: #cb368f;
  cursor: pointer;
  color: white;
  border-color: #cb368f;
}

#year-strip{
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  background: white;
}
.story-tile{
  padding: 20px;
  border-bottom: 2px;
  border-top: 2px;
  border-right: 2px;
  border-style: solid; 
  border-color: whitesmoke;
  margin: 0px;
  width: 25%;
  display: flex;
}
.story-tile:first-child{
  margin-left: 0px;
}
.story-tile h3{
  color: black;
  font-size: 1em;
  padding-bottom: 10px;
}
.story-tile img{
  height: 80px;
  float: right;
}
.story-tile p{
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
}

#studies-container > nav > ul > span {
  background-color: #f5f5f5;
  color: #444444;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #d1c9ce;
}