#persona-nav{
    align-self: flex-end;
    margin-bottom: 40px;
}

#persona-nav ul{
    display: flex;
    flex-flow: row;
}

#persona-nav li{
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 20px;
    background: whitesmoke;
}

#persona-nav li.active{
    background:#2f9b62;
    color: white;
}

#studies-container .active{
    background-color:#2f9b62;
    color: white;
}

@media all and (max-width:540px){
    .persona {
        padding-left: 0px;
        display: block;
    }

    .persona > h2 {
        font-size: 1.6em;
        text-align: left;
        margin: 0px 20px;
    }

    #persona-nav{
        width: 100%;
        margin-bottom: 20px;
    }

    #persona-nav li {
        margin-left: 10px;
        flex-grow: 4;
        margin: 0px 5px;
        padding: 10px;
    }

    #year-strip {
        width: 100%;
    }

    #studies-container {
        flex-direction: column;
    }
    
    #student-graphic {
        height: 200px;
    }
    #studies-container > nav {
        width: 100%;
    }
    #studies-container > nav > ul {
        flex-flow: row;
    }

    #studies-container > nav > ul > li {
        padding: 10px;
        flex-grow: 1;
    }
}